<!DOCTYPE html>
<html>
<head>
    <title>修改个人密码</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="dist/css/bootstrapValidator.css"/>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="dist/js/bootstrapValidator.js"></script>
</head>
<body>
<div class="container">
    <div class="row" style="padding-top: 50px;">
        <!-- form: -->
        <section>
            <div class="col-lg-8 col-lg-offset-2" style="padding-top: 50px;">
                <form id="defaultForm" method="post" action="" class="form-horizontal">
                    <fieldset>
                        <legend>修改密码</legend>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">旧密码</label>
                            <div class="col-lg-5">
                                <input type="password" class="form-control" name="oldPassword" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">新密码</label>
                            <div class="col-lg-5">
                                <input type="password" class="form-control" name="newPassword" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">确认密码</label>
                            <div class="col-lg-5">
                                <input type="password" class="form-control" name="confirmPassword" />
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <div class="col-lg-9 col-lg-offset-4">
                            <button type="submit" class="btn btn-primary">提交</button>
                            &nbsp;&nbsp;
                            <button type="reset" class="btn btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <!-- :form -->
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('#defaultForm').bootstrapValidator({
            message: '无效值',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                oldPassword: {
                    validators: {
                        notEmpty: {
                            message: '请输入密码，密码不能为空！'
                        }
                    }
                },
                newPassword: {
                    validators: {
                        notEmpty: {
                            message: '新密码不能为空，请输入密码!'
                        },
                        different:{
                            field:'oldPassword',
                            message: '新密码不能和旧密码相同，请重新输入新密码！'
                        },
                        regexp: {
                            regexp: /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!^%*?&#])[A-Za-z\d$@$!^%*?&#]{8,20}$/,
                            message: '请输入新密码，长度必须在8-20个字符之间，其中必须包含大写字母、小写字母、数字和特殊字符'
                        }
                    }
                },
                confirmPassword: {
                    validators: {
                        notEmpty: {
                            message: '确认密码不能为空，请输入密码!'
                        },
                        identical: {
                            field: 'newPassword',
                            message: '两次输入密码不一致，请重新输入!'
                        }
                    }
                }
            }
        });
    });
</script>
</body>
</html>