<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyzd.controlplatform.dao.IUserMapper">

  <resultMap id="BaseResultMap" type="com.lyzd.controlplatform.model.User">
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
  </resultMap>

  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    user_id, `password`, phone, user_name
  </sql>

<!-- 查询 -->
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_user
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>

<!-- 删除 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from t_user
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>

<!-- 添加 -->
  <insert id="insert" parameterType="com.lyzd.controlplatform.model.User">
    <!--@mbg.generated-->
    insert into t_user(password, phone, user_id, user_name)
    values (#{password,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},#{userId,jdbcType=VARCHAR},
      #{userName,jdbcType=VARCHAR})
  </insert>

<!-- 修改 -->
  <update id="updateByPrimaryKey" parameterType="com.lyzd.controlplatform.model.User">
    <!--@mbg.generated-->
    update t_user
    set `password` = #{password,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=VARCHAR}

<!-- 查询所有 -->
  </update>
    <select id="selectAll" resultMap="BaseResultMap">
      select * from t_user
    </select>

<!-- 查询记录数 -->
  <select id="selectAllCount" resultType="int">
    select count(*) from t_user
  </select>
</mapper>